h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-left: auto;
  
}

h1 {
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2, h3 {
  color: black;
}

.logo-img {
  height: 8.8rem;
  margin: 0;
}

.card {
  margin: 2%;
}

.card-body {
  padding: 0;
}

.photo-img {
  width: 100%;
}

#container {
  position: relative;
}

#profile {
  width: 98%;
  background-color: whitesmoke;
  position: absolute;
  z-index: 3;
  margin: 10%;
  padding: inherit;
  left: -9%;
  border-radius: 5px;
  padding: 2%;
}

.profile-photo img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.profile-bio {
  border-radius: 5px;
  width: 96%;
  margin-left: 2%;
  margin-top: 15px;
}

.profile-bio textarea {
  width: 100%;
}

.profile-close {
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
}

#dark {
  height: 150%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  z-index: 2;
  width: 150%;
  left: 0;
}

#nav {
  margin: 2%;
}

.nav-actualpage{
  font-weight: 500;
  font-style: italic;
}

.member-card {
  position: relative;
}

.member-data {
  position: absolute;
  z-index: 1;
  width: 90%;
  bottom: 1%;
  right: 1%;
  display: none;
}

.member-name {
  background-color: whitesmoke;
}

.member-age {
  background-color: red;
}

.member-name, .member-age {
  font-weight: bold;
  font-style: italic;
  border-radius: 5px;
}

div.member-card:hover div.member-data {
  display: block;
}

.page-footer {
  color: azure;
}
